@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/SegoeUI.ttf") format("opentype");
}

body {
    font-family: "Segoe UI";
}

header {
    position: relative;
}

code {
    background: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    height: auto;
}

main {
    margin-left: 250px;
}

aside {
    float: left;
    height: 70%;
    margin: 10px;
}